<link rel="stylesheet" type="text/css" href="style.css">
<img src="ray-lewis.jpg">
<h2><%= top %></h2>
<h2><%= bottom %></h2>
<form name="input" action="/" method="get">
<input type="text" name="top" placeholder="TOP TEXT" />
<input type="text" name="bottom" placeholder="BOTTOM TEXT" />
<input type="submit"></input>
</form>
<script type="text/javascript" src="html2canvas.js"></script>
